<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li routerLinkActive="active"><a [routerLink]="['/testReport']">DATA BINDING</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/movie']">NOTIFICATION</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/task']">PROGRESS BAR</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/course']">NESTED ROUTES</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/forms']">REACTIVE FORMS</a></li>
    </ul>
  </div>
</div>